<footer class="container">
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-12">
      <p class="float-right">
        <a [href]="currentPage">Back to top</a>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <social-media-icon-bar [icons]='icons'></social-media-icon-bar>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>&copy; Hayden Ty, All Rights Reserved &middot;
        <a href="affil">Affiliate Disclosure</a>
        <!-- <a href="#">Privacy</a> &middot;
            <a href="#">Terms</a> -->
      </p>
    </div>
  </div>
</footer>