<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="first-slide" src="assets/haydentybanner.jpeg" alt="Hayden Ty Road to Dreams">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Let me take you on a journey.</h1>
            <p>Going through college I didn't really have anyone to hold my hand or give me insight into the industry I was about
              to enter, so I started Engineering Swag Co., a brand that is focused on helping aspiring engineers land their dream job.
              If you are looking to become an engineer drop us a message and we would be happy to help.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="#" role="button">Schedule a 1-On-1</a>
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="second-slide" src="assets/bitcoin.jpeg" alt="Start investing in BitCoin Hayden Ty">
        <div class="container">
          <div class="carousel-caption">
            <h1>Next Big Trend</h1>
            <p>Spotting trends isn't hard to do but being able to spot trends early is much more difficult to do.
              Over the next year the trends I am looking to watch are AR/VR (augmented reality and virtual reality), blockchain applications,
              Voice (Amazon Alexa, Google Assistant, Siri,etc.).
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="bitcoin" role="button">Get Free $10 of BTC</a>
            </p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img class="third-slide" src="assets/youtube.jpg" alt="Find Hayden Ty on YouTube">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Creator</h1>
            <p>In my free time I enjoy creating videos, websites, and other digital content. Starting at a young age I started shooting, editing,
              and uploading videos to YouTube. Over the years I went in phases, creating edits of car shows I attended, videos of friends and I doing action sports,
              to travel vlogging.
            </p>
            <p>
              <a class="btn btn-lg btn-primary" href="https://www.youtube.com/c/Haydenty" role="button">Watch</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/haydentytwitterimg.jpg" alt="Hayden Ty"
          width="140" height="140">
        <h2>Who Am I</h2>
        <p>I am a software developer, born and raised in Wisconsin and have now fled to the land of 10,000 Lakes, city with the most fortune 500 companies per capita, Minneapolis. My passion for computers came at a young age, around the time of the first iMac (I
            had a green one). I started out with editing my MySpace page markup then I helped my dad make websites and I got into more technical stuff in high school. This seemed to be the reason behind why I went to college for Software Engineering. From there on my mind began to flood
            with new ideas, creations.
          <p>
          <!-- <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a> -->
        </p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/tech.jpeg" alt="Technologys"
          width="140" height="140">
        <h2>Tech</h2>
        <p>In order to develop innovatived solutions across multiple platforms the use of frameworks and libaries are key. For example, this site uses Font Awesome and Bootstrap, giving it that smooth and clean look. Web applications don't need to just
          look good but also be dynamic in design. For instance, both blog feeds on this site use the same component to render the content. This particular site uses Angular. 
          I have created web applications using React, Redux, Angular, AngularJS, and Node.js. I'm also not half bad at using photoshop, love making cards for people.
            <p>
          <!-- <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a> -->
        </p>
      </div>
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/collab.jpeg" alt="Generic placeholder image"
          width="140" height="140">
        <h2>Collab With Me</h2>
        <p>I enjoy filming my adventures, as well as, building software to solve every day problems. You can find my adventures on my YouTube channel HaydenTy and all of my open source software on my GitHub, haydenty. 
          Are you looking for someone to collaborate with and/or build some cool software, DM me on Instagram or any of my other social medias.</p>
        <p>
          <!-- <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a> -->
        </p>
      </div>
    </div>
  </div>
</main>